<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <header th:replace="fragments/header :: header('notice-board.load')"></header>
</head>

<body>

<div class="container">

  <div class="page-header">
        <h1 th:text="#{notice-board.load}"></h1>
  </div>

  <br>
  <table class="table">
    <tr>
      <th style="padding:13px 0 0 15px;" th:text="#{title}"></th>
      <td>
        <span th:text="|${post.title}|" class="form-control input-sm">
        </span>
      </td>
    </tr>

    <tr th:if="${uploadFiles}">
      <th style="padding:13px 0 0 15px;" th:text="#{upload-file}"></th>
      <td>
        <span th:each="uploadFile: ${uploadFiles}">
          <img th:src="|/post/upload-file/dpwnload/${uploadFile.storeFilename}|" width="400"/>
          <br> <br>
        </span>
      </td>
    </tr>

    <tr>
      <th style="padding:13px 0 0 15px;" th:text="#{content}"></th>
      <td>
        <span class="form-control input-sm" th:text="${post.content}"></span>
        <span class="help-block"></span>
      </td>
    </tr>
  </table>

  <!-- 목록으로 -->
  <div class="float-left">
    <a href="/post/list" class="btn btn-success" th:text="#{back}"></a>
  </div>

    <!-- 수정/삭제 버튼 -->
  <div class="float-right">
    <button type="button" th:onclick="|location.href= '/post/update/' + '${post.id}'|" class="btn btn-info" th:text="#{update}"></button>
<!--    <button type="button" onclick="location.href = '/post/delete'" class="btn btn-danger" th:text="#{delete}"></button>-->
  </div>

</div>
<th:block layout:fragment="contentsScript">
</th:block>
<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>